.blue {
  background-color: #338efd;
}

.orange {
  background-color: #ff8c28;
}

.green {
  background-color: #26ba19;
}

.yellow {
  background-color: #fff312;
}

.red {
  background-color: #fe3d3d;
}

.purple {
  background-color: #b73dfe;
}
